<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Stylesheets::Admin::StylesheetsController.sortable? and ::Refinery::Stylesheets::Stylesheet.count > 1 %>
