<% content_for :body_content_left do %>
  <ul id="stylesheets">
    <% @stylesheets.each do |stylesheet| %>
      <li>
        <%= link_to stylesheet.name, refinery.stylesheets_stylesheet_path(stylesheet) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
